.content{
    margin-top: 100px;
}

.titlebox{
    box-shadow: 0 4px 8px rgba(59, 59, 59, 0.091);
     height: 60px;
     border-radius: 15px;
  
}
.desbox{
    box-shadow: 0 4px 8px rgba(59, 59, 59, 0.091);
    border-radius: 15px;
}
button{
    border: none;
}
.custom-btn{
    background-color: var(--cta-color);
    color: #f8f8f8;
    font-size: 16px;
    padding: 7px 27px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.custom-btn2{
    font-size: 16px;
    background-color: var(--secondary-text-color);
    color: #f8f8f8;
    padding: 7px 27px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.container {
    margin-top: 10px;
   
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
   
}

h4 {
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: var(--secondary-text-color);
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
 
}
.check-label{
    display: inline;
}
.titlebox,
.desbox {
    width: 100%;
    padding: 10px;
    border: 0.7px solid var(--line-color);
    background-color: var(--post-color);
    border-radius: 15px;
  
}

.desbox {
    resize: vertical;
}

.media-input {
    margin-top: 5px;
    color: var(--secondary-text-color);

}

.check-input {
    margin-right: 10px;
    background-color:var(--post-color);

}


.text-danger {
    color: red;
}