/* Container styling */
.content{
    margin-top: 100px;
}
.bookmark-container{
    width: 70%;
}
/* Page title styling */
.page-title {
    margin: 20px 55px;
    color: var(--text-color);
    font-weight: 400;
    
}

/* Bookmark card styling */
.bookmark-card {
    margin: 20px 20px 20px 40px;
    background-color: var(--post-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Bookmark link styling */
.bookmark-link {
    text-decoration: none;
    color: inherit;
}

/* Bookmark title styling */
.bookmark-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);

}

/* Bookmark description styling */
.bookmark-description {
    font-size: 14px;
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}

/* Bookmark media styling */
/* .bookmark-media {
    margin-top: 10px;
}

.bookmark-image {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

/* Remove bookmark button styling */
.remove-bookmark-btn {
    padding: 10px 20px;
    background-color: var(--cta-color);
    color: #f8f8f8;
    border: none;
    border-radius: 10px;
    font-size: 14px;

    cursor: pointer;
    transition: background-color 0.3s;
}

/* No bookmarks message styling */
.no-bookmarks-message {
    text-align: center;
    font-size: 18px;
    color: var(--secondary-text-color);
    margin-top: 20px;
}
