/* General Styling for Posts Page */
.content{
  margin-top: 100px;
}

h4 {
  margin: 20px 55px;
  color: var(--text-color);
  font-weight: 400;
}

.bookmark-btn {
  color: var(--secondary-text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--bg-color);
}

.posts-container{
  width: 70%;
  margin-top: -20px;
}

.card {
  position: relative;
  padding: 20px;
  margin: 20px 20px 20px 40px;
  background-color: var(--post-color);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userprofile {
  display: flex;
  flex-direction: row;
}

.user-name {
  margin-left:10px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.user-name a{
  text-decoration: none;
  color: var(--text-color);
}

.card-content {
  position: relative;
  z-index: 1;
}

.user-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card-description {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 15px;
}

.post-media-container {
  position: relative;
  width: 600px; /* Your desired width */
  padding-bottom: 75%; /* 4:3 aspect ratio (height/width * 100) */
  overflow: hidden;
  display: inline-block; /* Ensure overlay covers correctly */
}

.post-media-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
/* 
.post-media-container[data-sensitive="true"] img {
  filter: blur(4px);
} */

.post-media-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit; /* Inherit the image from the main img element */
  background-size: cover;
  filter: blur(20px); /* Adjust blur intensity as needed */
  z-index: -1; /* Place the blurred background behind the image */
}

.sensitive-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}

.sensitive-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.show-content-button {
  padding: 10px 20px;
  background-color: #202020;
  color: #f8f8f8;
  border: none;
  cursor: pointer;
}

.post-media-container:not([data-sensitive="true"]) .sensitive-overlay {
  display: none;
}

.card-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #f8f8f8;
}

.like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cta-color);
}

.dislike-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebeafde8;
  color: var(--cta-color);
}

.fa-thumbs-up ,.fa-thumbs-down{
  font-size: 20px;
  margin-right: 8px;
}

.guidelines{
  padding: 20px 40px;
  display: flex;
  width: 30%;
  margin-right:40px;
  height: 330px;
  border-radius: 15px;
  font-size: 15px;
  flex-direction: row;
  background-color: var(--post-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

.guide-content{
  flex-direction: column;
  color: var(--text-color);
}
