.content{
    margin-top: 75px;
}
.profile-container {
    width: 100%;
    background: #f9f9f9;
  
}
.banner{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}
.profile-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -70px;
    padding-left: 50px;
}
.profile-info h2 {
    color: #333;
    margin-bottom: 10px;

}
.details{
    margin-top: 60px;
    padding-left: 20px;
}
.profile-info p {
    color: #666;
    margin-top: -10px;
    font-size: 0.8em;
}

.profile-posts {
    margin-top: 20px;
    padding-left: 50px;
}

.profile-posts .posttext{
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(219, 219, 219);
    margin-bottom: 40px;
    border-radius: 30px;
    color: black;
}

.profile-posts ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
    list-style: none;
    padding: 0;
}

.profile-posts li {
    background: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-posts li a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #4A55A2;
}

.profile-posts li a:hover {
    text-decoration: underline;
}

.profile-posts li p {
    margin-top: 5px;
    font-size: 0.9em;
    color: #666;
}