{% extends "base.html" %}

{% block title %}Trending{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/trending.css' %}">
{% endblock %}
{% block content %}
    <h4>Trending Posts</h4>
    <div class="posts-container">

    {% for post in posts %}
        <div class="card">
            <div class="card-content">
            <h3 class="card-title"><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
            <p>{{ post.description }}</p>
            <div class="card-actions">
                <button class="like-button" data-post-id="{{ post.id }}">
                    <i class="fa-regular fa-thumbs-up"></i>
                  Like (<span id="likes-count-{{ post.id }}">{{ post.upvotes }}</span>)
                </button>
                <button class="dislike-button" data-post-id="{{ post.id }}">
                    <i class="fa-regular fa-thumbs-down"></i>
                      Dislike (<span id="dislike-count-{{ post.id }}"
                    >{{ post.downvotes }}</span
                  >)
                </button>
              </div>
            </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}

